@model  UtenteLoginViewModel
    

<form method="post">
    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="ReturnUrl" />

    Email:
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <br />
    Password:
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <input type="submit" value="Login" class="btn btn-primary" />
</form>